!!!
%html{ lang: "ru", prefix: "og: http://ogp.me/ns# article: http://ogp.me/ns/article# profile: https://ogp.me/ns/profile#" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "author", content: "at8eqeq3" }
    %meta{ name: "description", content: @item[:description] }
    %meta{ name: "generator", content: "Nanoc #{ Nanoc::VERSION }" }
    %meta{ name: "viewport", content: "width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" }
    %meta{ property: "og:site_name", content: "txt.at8eqeq3.me // текстятина" }
    %meta{ property: "og:type", content: "article" }
    %meta{ property: "og:title", content: @item[:title] }
    %meta{ property: "og:description", content: @item[:description] }
    - if @item[:cover]
      %meta{ property: "og:image", content: @config[:base_url] + '/img/' + @item[:cover] }
    - else
      %meta{ property: "og:image", content: @config[:base_url] + "/img/userpic.svg" }
    %meta{ property: "og:url", content: @config[:base_url] + @item.path }
    %meta{ property: "article:section", content: "Текстятина" }
    - if @item[:date]
      %meta{ property: "article:modified_time", content: @item[:date] }
      %meta{ property: "article:published_time", content: @item[:date] }
    - else
      %meta{ property: "article:modified_time", content: Time.now }
      %meta{ property: "article:published_time", content: Time.now }
    %meta{ property: "article:author", content: "at8eqeq3" }
    - if @item[:tags]
      - @item[:tags].each do |tag|
        %meta{ property: "article:tag", content: tag }
    %meta{ property: "profile:first_name", content: "Dmitry" }
    %meta{ property: "profile:last_name", content: "Grigoriev" }
    %meta{ property: "profile:username", content: "at8eqeq3" }
    %meta{ property: "profile:gender", content: "male" }
    %title txt.at8eqeq3.me &mdash; #{ @item[:title] }
    %link{ rel: "icon", href: "/img/userpic.svg", type: "image/svg+xml" }
    %link{ rel: "preconnect", href: "https://fonts.gstatic.com" }
    %link{ rel: "stylesheet", href: "/stylesheet.css" }
    %link{ rel: "stylesheet", href: "/hilite.css" }
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap" }
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,700;1,200;1,300;1,700&display=swap" }
    %link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" }
    :javascript
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(236094, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
      });
    %noscript
      %div
        %img{ src: "https://mc.yandex.ru/watch/236094", style: "position:absolute; left:-9999px;", alt: "" }
  %body
    #content
      #header
        %img{ src: "/img/userpic.svg", alt: "at8eqeq3's userpic" }
        %h1
          %a{ href: "/" } txt.at8eqeq3.me
        %p // текстятина
      #main
        - if @item[:tldr]
          #tldr= @item[:tldr]
        - if @item[:epigraph]
          #epigraph= @item[:epigraph]
        = yield
        #meta
          - if @item[:date]
            #date
              %i.far.fa-calendar-alt
              = @item[:date]
          - if @item[:tags]
            #tags
              %i.fas.fa-tags
              - @item[:tags].each do |tag|
                .tag= tag
          - if @item[:links]
            #links
              %i.fas.fa-link
              - @item[:links].each do |link|
                .link
                  %a{ href: link[:href] }= link[:title]
      #footer
        %i.fas.fa-link
        %a{ href: "/" } txt.at8eqeq3.me
        %i.fab.fa-github
        %a{ href: "https://github.com/at8eqeq3/txt.at8eqeq3.me" } исходники
        %i.fab.fa-creative-commons-by
        %a{ href: "https://creativecommons.org/licenses/by/4.0/" } CC-BY
              
          